<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>Book page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="images/main.css">
</head>
<body class="bg">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- -->
                <a id="showBooks" class="nav-link" href="showBooksGuest">Show books</a>
                <!-- -->
                <a id="login" class="nav-link" href="login">Login</a>
                <!-- -->
                <a id="createAccount" class="nav-link" href="createAccount">Create account</a>
            </div>
        </div>
    </div>
</nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 my-5">
                 <p>
                <img id="bookPicture" width="100%" th:src="${book.picture}"/>
                 <!-- -->
                 <h2 id="bookTitle" class="fs-2 text" th:text="${book.title}"></h2>
                <hr>
                <!-- -->
                <p id="bookDescription" class="fs-5" th:text="${book.description}"></p>
            </div>
            <div class="col-md-4 my-5">

                    <h3 class="fs-3 text">Reviews:</h3>
                    <hr>
                <!-- -->
                     <div th:each="review : ${book.reviews}" class="card-box py-3">
                        <span class="fw-bold"> Review written by:&nbsp;
                          <!-- -->
                          <span th:id="@{'user'+${review.reviewId}}" th:text="${review.user.userName}"/> </span>

                            <p class="fst-italic">
                            <img th:id="@{'stars'+${review.reviewId}}" th:src="@{'images/stars'+${review.stars}+'.png'}" width="80"/>
                            <!-- -->
                            <div th:id="@{'reviewDescription'+${review.reviewId}}" th:text="${review.description}"/>
                            </p>


                    </div>
                <!-- -->

                    <hr>
                    <p>Log in to your account so you can add a review</p>

                    <br>
                        <!-- -->
                        <div id="message" th:text="${message}"></div>


            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>