<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>Manage reviews</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a id="home" class="nav-link" href="home">Home</a>
                <!-- -->
                <a id="managePublishers" class="nav-link" href="updatePublisherList">Manage Publishers</a>
                <!-- -->
                <a id="manageWriters" class="nav-link" href="manageWriters">Manage Writers</a>
                <!-- -->
                <a id="manageReviews" class="nav-link" href="deleteReviewListAdmin">Manage Reviews</a>
                <!-- -->
                <a id="manageBooks" class="nav-link" href="updateBookList">Manage Books</a>
                <!-- -->
                <a id="manageUsers" class="nav-link" href="updateUserList">Manage Users</a>
                <!-- -->
                <a id="logout" class="nav-link" href="showBooksGuest">Logout</a>
            </div>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="row">

            <div class="col-md-4 my-5">

                    <h3 class="fs-3 text">Reviews:</h3>
                    <hr>
                <!-- -->
                     <div th:each="review : ${reviews}" class="card-box py-3">


                        <span class="fw-bold"> Book:&nbsp;
                        <!-- -->
                        <span th:id="@{'title'+${review.reviewId}}" th:text="${review.book.title}"/> </span>

                        <span class="fw-bold"> Writer:&nbsp;
                        <!-- -->
                        <span th:id="@{'writer'+${review.reviewId}}" th:text="${review.book.writer.name}"/> </span>
                        <br>
                        <span class="fw-bold"> Review written by:&nbsp;
                        <!-- -->
                        <span th:id="@{'user'+${review.reviewId}}" th:text="${review.user.userName}"/> </span>


                            <p class="fst-italic">
                            <img th:id="@{'stars'+${review.reviewId}}" th:src="@{'images/stars'+${review.stars}+'.png'}" width="80"/>
                            <!-- -->
                            <span th:id="@{'description'+${review.reviewId}}" th:text="${review.description}"/>
                            </p>
                                <!-- -->
                                <a th:id="@{'delete'+${review.reviewId}}" class="btn btn-danger"  th:href="@{'deleteReviewAdmin?reviewId='+${review.reviewId}}">Delete</a>



                    </div>
                <!-- -->

                    <hr>

                    <br>
                        <!-- -->
                        <div id="message" th:text="${message}"></div>


            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>