<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>Manage writers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a id="home" class="nav-link" href="home">Home</a>
                <!-- -->
                <a id="managePublishers" class="nav-link" href="updatePublisherList">Manage Publishers</a>
                <!-- -->
                <a id="manageWriters" class="nav-link" href="manageWriters">Manage Writers</a>
                <!-- -->
                <a id="manageReviews" class="nav-link" href="deleteReviewListAdmin">Manage Reviews</a>
                <!-- -->
                <a id="manageBooks" class="nav-link" href="updateBookList">Manage Books</a>
                <!-- -->
                <a id="manageUsers" class="nav-link" href="updateUserList">Manage Users</a>
                <!-- -->
                <a id="logout" class="nav-link" href="showBooksGuest">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="row p-2">
        <div class="mb-5">
            <h3 class="mb-4">Manage writers</h3>
            <!-- -->
            <a id="createWriter" class="btn btn-info col-3"  href="createWriter">Create Writer</a>
            <hr>
        </div>
        <!-- -->

            <div th:each="writer : ${writers}" class="col-lg-2">
                <div class="card-box p-4">
                    <div class="card-thumbnail">
                        <img class="card-img-top mb-5" src="images/writer.png"/>
                    </div>
                    <!-- -->
                    <h4 th:id="@{'writer'+${writer.writerId}}" class="fs-5 text" th:text="${writer.name}"></h4>
                    <!-- -->
                    <a th:id="@{'edit'+${writer.writerId}}" class="btn btn-primary"  th:href="@{'updateWriter?writerId='+${writer.writerId}}">Edit</a>
                    <!-- -->
                    <a th:id="@{'delete'+${writer.writerId}}" class="btn btn-danger"  th:href="@{'deleteWriter?writerId='+${writer.writerId}}">Delete</a>
                </div>
            </div>
        <!-- -->
    </div>

    <br>
    <!-- -->
    <div id="message" th:text="${message}"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>