<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>User page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- -->
        <a id="showBooks" class="nav-link" th:href="@{'showBooks?userId='+${userId}}">Show books</a>
        <!-- -->
        <a id="myReviews" class="nav-link" th:href="@{'myReviews?userId='+${userId}}">My reviews</a>
        <!-- -->
        <a id="updateMyInformation" class="nav-link" th:href="@{'updateUserIndividual?userId='+${userId}}">Change personal information</a>
        <!-- -->
        <a id="logout" class="nav-link" href="showBooksGuest">Logout</a>
      </div>
    </div>
  </div>
</nav>

        <div class="container mt-4">
            <div class="row p-2">
                <!-- -->
                <div th:each="book : ${books}" class="col-md-4 col-lg-3">
                    <div class="card-box p-4">
                        <div class="card-thumbnail pb-4">
                            <!-- -->
                            <a th:id="@{'cover'+${book.bookId}}"  th:href="@{'/showBook?bookId='+${book.bookId}+'&userId='+${userId}}">
                            <img class="card-img-top" th:src="${book.cover}"/>
                            </a>
                        </div>
                        <!-- -->
                        <h2><a th:id="@{'title'+${book.bookId}}" class="linkS fs-5 text" th:href="@{'/showBook?bookId='+${book.bookId}+'&userId='+${userId}}" th:text="${book.title}"></a> </h2>
                    </div>
                </div>
                <!-- -->
            </div>
        </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>